[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
django-summernote = "*"
djangorestframework = "*"
pillow = "*"
psycopg2-binary = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
